{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 30,
  "jsxBracketSameLine": false,
  "bracketSpacing": false,
  "semi": true,
  "arrowParens": "always",
  "useTabs": false,
  "tabWidth": 2
}
