{
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 100,
	"jsxBracketSameLine": false,
	"bracketSpacing": false,
	"semi": true,
	"arrowParens": "always",
	"useTabs": true,
	"tabWidth": 2
}
